<div>
  <app-unidad-navbar></app-unidad-navbar>
  <main>
    <section class="relative w-full h-full py-40 min-h-screen">
      <div class="absolute top-0 w-full h-full bg-blueGray-800 bg-no-repeat bg-full"
        style="background-image: url('assets/img/register_bg_2.png')">
      </div>
      <hr>
      <div class="container mx-auto px-4 h-full">
        <div class="flex content-center items-center justify-center h-full">
          <div class="w-full lg:w-6/12 px-4">
            <div
              class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0">
              <div class="rounded-t mb-0 px-6 py-6">
                <div class="text-center mb-3">
                  <h6 class="text-blueGray-500 text-sm font-bold">Perfil</h6>
                </div>
                <hr class="mt-6 border-b-1 border-blueGray-300" />
              </div>
              <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                <form>
                  <!--Nombre-->
                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                      Nickname
                    </label>
                    <input type="text"
                      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-gray rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                      [(ngModel)]="usuario.nickname" name="nickname" readonly />{{usuario.usuario}}
                  </div>

                  <!--Fecha de nacimiento-->
                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                      Fecha de nacimiento
                    </label>
                    <input type="date"
                      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                      [(ngModel)]="usuario.fecha" name="fecha-nacimiento" />
                  </div>

                  <!--Telefono-->
                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                      Telefono
                    </label>
                    <input type="email"
                      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                      [(ngModel)]="usuario.numero" name="telefono" />
                  </div>

                  <!--Email-->
                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                      Correo
                    </label>
                    <input type="email"
                      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                      [(ngModel)]="usuario.correo" name="correo" />
                  </div>

                  <!--Usuario-->
                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                      Nombre
                    </label>
                    <input type="text"
                      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                      [(ngModel)]="usuario.nombre" name="nombre" />
                  </div>

                  <!--Confirmar contraseña-->
                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                      Confirmar Contraseña
                    </label>
                    <input type="password"
                      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-gray rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                      placeholder="Confirmar Contraseña" [(ngModel)]="usuario.contrasena2" name="contrasena2" />
                  </div>

                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
                      Seguridad adicional por medio de token
                    </label>
                  </div>
                  

                  <div>
                    <label class="inline-flex items-center cursor-pointer">
                        <input
                        id="check-correo"
                        type="checkbox"
                        class="form-checkbox border-0 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                        [(ngModel)]="usuario.fa_correo" name="2fa-correo"
                        />
                        <span class="ml-2 text-sm font-semibold text-blueGray-600">
                        Correo
                        </span>
                    </label>

                    <label class="inline-flex items-center cursor-pointer">
                        <input
                        id="check-mensaje"
                        type="checkbox"
                        class="form-checkbox border-0 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                        [(ngModel)]="usuario.fa_mensaje" name="2fa-mensaje"
                        />
                        <span class="ml-2 text-sm font-semibold text-blueGray-600">
                        Mensaje de texto
                        </span>
                    </label>
                  </div>

                  <div class="text-center mt-6">
                    <button
                      class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                      type="button" (click)="edit()">
                      Editar Perfil
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer-small [absolute]="true"></app-footer-small>
    </section>
  </main>
</div>