<div>
    <app-unidad-navbar></app-unidad-navbar>
    <main>
      <section class="relative w-full h-full py-40 min-h-screen">
        <div
          class="absolute top-0 w-full h-full bg-blueGray-800 bg-no-repeat bg-full"
          style="background-image: url('assets/img/fondo.png')"
        ></div>
        <hr>
        <router-outlet></router-outlet>
        <app-footer-small [absolute]="true"></app-footer-small>
      </section>
    </main>
  </div>
  