<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >
        
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div class="text-black-400 text-center mb-3 font-bold">
            <small>INGRESE SUS CREDENCIALES</small>
          </div>
          <div class="text-blueGray-400 text-center mb-3 font-bold">
            <small>_________________________________________________________</small>
          </div>
          <form #LoginForm="ngForm">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Nombre de usuario
              </label>
              <input
                type="text"
                id="NombreUsuario"
                name="NombreUsuario"
                #name="ngModel"
                [(ngModel)]="userName"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Nombre de usuario"
                
              />
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Contraseña
              </label>
              <input
                type="password"
                id="Password"
                name="Password"
                #name="ngModel"
                [(ngModel)]="password"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Contraseña"
              />
            </div>
            
            <div class="text-center mt-6">
              <button
                class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="button" (click)="Login(LoginForm)" id="btnLogin"
              >
                Iniciar Sesion
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
