<main>
  <div
    class="relative pt-10 pb-32 flex content-center items-center justify-center min-h-screen-75"
  >
    <div
      class="absolute top-auto w-full h-full bg-center bg-cover"
      style="
        background-image: url('https://gifdownload.net/wp-content/uploads/2019/01/acceso-denegado-gif-1.gif');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full"
      ></span>
    </div>
  </div>
</main>


            


  